<h3>My Loans</h3>
<p>Active Loans: <strong><%= @loans.count %></strong>  <p>
<p>Old Loans: <strong><%= @loans.count %></strong>  <p>
<table class="table table-bordered">
  <thead>
    <tr>
      <th> Title </th>
      <th> Borrowed since</th>
    </thead>
  <tbody>
    <% @loans.each do |loan| %>
    <tr>
      <td> <%=link_to @books.find{|b| b.id == loan.book_id}.title, loan %> </td>
      <td> <%= loan.created_at.strftime('%a - %d-%m-%Y - %H:%M %Z') %></td>
    </tr>
    <% end %>
  </tbody>
</table>
