<h3>Loans Summary</h3>
<% actives = @myloans_active.count %>
<% olds = @myloans_delivered.count %>
<% total = actives + olds %>
<% @loans.count %>
<table class="table table-bordered">
  <thead>
    <tr>
      <th> Active </th>
      <th> Olds </th>
      <th> Total </th>
    </thead>
  <tbody>
    <tr>
      <td> <%=  actives %> </td>
      <td> <%=  olds %> </td>
      <td> <%=  total %> </td> 
    </tr>
  </tbody>
</table>
