<h1>New Loan</h1>

<div class="form-inputs">
   <p>Return Date :</p>
    <strong><%= Date.today + 7 %><br><br></strong>
</div>

<%= render 'form' %>

<%= link_to 'Back', loans_path, :class=> 'btn btn-success' %>
